/* home page */

/* table */
.grid-table-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  color: #e5e5e5;
}
.grid-table-top > h2 {
  font-size: 1.5rem;
}

.grid-table-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.table-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 3rem;
}
.table-flex > button {
  font-size: 1rem;
  background: transparent;
  border: none;
  color: #b7b7b7;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.4rem;
}
.active {
  color: #e5e5e5 !important;
  border-bottom: 3px solid #ed6f5b !important;
}

/* now playing */
.playing-img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}
.playing-grid {
  opacity: 0.8;
  margin: 2rem 0;
  cursor: pointer;
}

.nowPlaying {
  color: #e5e5e5;
  margin: 2rem 0;
}
.playingMovie-name {
  color: #b7b7b7;
  font-size: 1.2rem;
}

.playing-grid:hover {
  opacity: 1;
}
.playing {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* media queries
@media (max-width: 1570px){
    .table-flex{
        flex-direction: column;
    }
    .table-flex > button{
        margin-bottom:1rem;
    }
    .main{
        margin: 150px 150px;
    }
}

@media (max-width: 1400px){
    .playing{
        grid-template-columns: repeat(4, 1fr);
    }
} */
