/* media queries */
@media (max-width: 1570px) {
  .table-flex {
    flex-direction: column;
  }
  .table-flex > button {
    margin-bottom: 1rem;
  }
  .main {
    margin: 150px 150px;
  }
}

@media (max-width: 1400px) {
  .playing {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* tablets and medium desktop desktop */
@media (max-width: 1113px) {
  .navbar {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  #searchForm {
    margin: 0 auto;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
}

/* tablets */
@media (max-width: 980px) {
  .main {
    margin: 150px 20px;
  }
  .search-input {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .main {
    margin: 190px 20px;
    padding: 0;
  }
  .main-detail,
  .main-person {
    margin: 50px 20px;
    padding: 1rem;
  }
  .table-flex {
    margin: 1.5rem;
  }
  .playing {
    grid-template-columns: repeat(3, 1fr);
  }
  .bio > h2 {
    font-size: 1.1rem;
  }
  .details-title {
    padding: 1rem;
  }
  .back-arrow {
    margin-left: 1.2rem;
  }
  .person-img {
    width: 150px;
  }
  .details-title > h1 {
    font-size: 1.2rem;
  }
  .details-person > p {
    font-size: 1.1rem;
  }
  .trailer {
    display: inline-block;
  }
  .actors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cast-img {
    width: 100px;
  }
  .cast-name {
    font-size: 1rem;
  }
  .trailer-card {
    width: 200px;
    padding: 0;
  }
}

/* smart phones */
@media (max-width: 580px) {
  .playing {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    padding: 7rem 7rem;
  }
  .brand,
  .discover {
    padding: 0.3rem 1rem;
  }
}
