
body{
    background-color: #2c3240;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}

.navbar{
    background-color: #232323;
    margin: 0;
    padding: 1.9rem;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.brand, .discover{
    padding: 0 1rem;
    display: block;
    text-decoration: none;
    color: #ed6f5b;
}

/* #searchForm{
    padding: 0.5rem;
} */
.search-input{
    padding: 0.8rem;
    margin-right:0;
    width:300px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search-button{
    padding: 0.8rem;
    margin-left: -6px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.search-button:hover{
    background-color:#ed6f5b;
    cursor: pointer; 
}
/* main */
main{
   margin: 150px;
}

/* footer */

.footer{
    padding: 7rem 12rem;
    margin-top: 4rem;
    background-color: #232323;
    color: #e5e5e5;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    justify-items: center; 
}
.footer-brand{
    display: inline-block;
    font-size: 1.8rem;
}
.footer-icon{
    display: inline-block;
    text-decoration: none;
    color: #e5e5e5;
    font-size: 1rem;
    margin: 1.2rem;
}
.tmdb-logo{
    width: 150px;
    height: 150px;
    display: block
}
.social{
    color: #e5e5e5;
    display: inline-block;
    margin: 1rem 0.5rem;
}
.portfolio{
    text-decoration: none;
    color: #ed6f5b;
}


/* media queries */

/* tablets */
@media (max-width: 980px){
    main{
        margin: 150px 20px;
    }
    .search-input{
        width: 250px;
    }
}

/* tablets and medium desktop desktop */
@media (max-width: 1113px){
    .navbar{
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    #searchForm{
        margin: 0 auto;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
}

/* smart phones */
@media (max-width: 580px){
    .footer{
        padding: 7rem 7rem;
    }
    .brand, .discover{
        padding: 0.3rem 1rem;
    }
}